.navbar-quotes {
  z-index: 3000 !important;
}

.alert-pass {
  opacity: 0;
  animation: show-pass-info 1.5s ease-in-out;
  animation-delay: 200ms;
}

.quotes-fav-nav {
  margin: 0;
  transition: 0.2s ease-in-out;
}

.quotes-fav-nav:hover {
  text-shadow: #FFF 1px 0 10px;;
  transition: 0.2s ease-in-out;
}

@keyframes show-pass-info {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .quotes-fav-nav {
    margin: 0.5rem 0;
  }
}